.about-container {
  margin-top: 150px;
  margin-bottom: 150px;
  @media (min-width: 1200px) {
    max-width: 900px;
  }
  @media (min-width: 992px) {
    max-width: 800px;
  }
}
#about-image {
  margin-bottom: 100px;
}
.margin-top-sm-device {
  @media (max-width: 768px) {
    margin-top: 32px;
  }
}
