.top-banner {
  background-size: cover;
  background-position: center;
  position: relative;
  height: 65vh;
  margin: 0 20px;
  @media (max-width: 768px) {
    margin: 0;
    padding: 0 10px;
  }
}

.top-banner h1 {
  color: white;
  text-transform: uppercase;
  bottom: calc(50% - 25px);
  position: absolute;
  letter-spacing: 1.5px;
  font-size: 28px;
  letter-spacing: 10px;
  @media (min-width: 769px) {
    left: 10%;
  }
}
.contact-container {
  margin: 100px auto;
}
.map-size {
  // filter: grayscale(100%);
  height: 400px;
}
#map-margin {
  margin-bottom: 150px;
}
.hidden {
  display: none;
}
.form-control {
  background-color: #F4F4F4;
}
.form-group {
  label {
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: 300;
  }
}
.email-confirm {
  height: calc(100vh - 217px);
  h1 {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 4px;
    margin: auto 80px;
    line-height: 25px;
  }
}
