<div class="footer d-flex">
    <div class="d-flex m-auto">
      <%= image_tag "https://res.cloudinary.com/ddwuu1y0i/image/upload/v1572889638/nes-style-red-logo.png", class: ""%>
      <div class="d-flex footer-flex">
        <div>
          <h2><span>NES</span>STYLE</h2>
          <div class="footer-cities">
            <h3>Dhaka</h3>
            <h3>London</h3>
          </div>
        </div>
      </div>
    </div>
</div>
