<div class="top-banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('https://res.cloudinary.com/ddwuu1y0i/image/upload/v1569763430/camera-contemporary-flash-134469.jpg');">
  <h1>About Us</h1>
</div>

<div class="about-container container">
  <div class="row">
    <div class="col-10 offset-1 col-md-4 offset-md-0 px-4">
      <h3 class="mb-5">OUR CONCEPT</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-10 offset-1 col-md-4 offset-md-0 px-4">
      <p>Fast fashion & Value retailing has grown faster than any other major retail format in recent years. Large format stores carrying latest fashion and offering great deals is where the trend is moving.</p>
      <br>
      <p>This is not possible without managing a proper supply chain as shelves and hangers in stores can not be empty or stand thin.</p>
      <br>
      <p>We at Nes Style, have taken this concept seriously and have established ourselves as a perfect supply chain partner to provide what is require.</p>
      <br>
      <p>It doesn’t pre-exist and it doesn’t happen by accident. It is the right combination of all the rules of product development and right sourcing that creates both the perception and the reality that true value exists.</p>
    </div>
    <div class="col-10 offset-1 col-md-4 offset-md-0 px-4 margin-top-sm-device">
      <p>It takes more than price. We are in the enviable position of being able to offer both, a leading-edge fashion apparel for each of our specific target markets, together with that magical price-value equation.</p>
      <br>
      <p>Our development and merchandising team deliver the looks and fashion our customers want and we do it all at a price the customer can afford. Value is created.</p>
      <br>
      <p>This long-held focus on fundamentals has well positioned us to continue to succeed.</p>
    </div>
  </div>
</div>

<div class="top-banner" id="about-image" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://res.cloudinary.com/ddwuu1y0i/image/upload/v1569763429/blue-jeans-close-up-cloth-603022.jpg');">
</div>
