<div class="top-banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('https://res.cloudinary.com/ddwuu1y0i/image/upload/v1572892245/rendered.jpg');">
  <h1>Design Studio</h1>
</div>

<div class="design-container container">
  <div class="row my-5">
    <div class="col-10 offset-1 col-md-5 offset-md-0 design-text">
      <div class="m-auto">
        <h3 class="mb-5">DESIGN STUDIO LONDON AND DHAKA</h3>
        <p>Today entire business is fashion-driven and to match the pace of it, we design and develop our own collection for each season to present to our buyers. our 2,000 sq ft area showroom carries hundreds of styles to choose from at any given time.</p>
        <br>
        <p>Denims being our core business and having expertise in garments washing, we create and develop from basic to high end washes at much competitive prices.</p>
        <br>
        <p>From our in-house sample section, we create almost 50-70 styles every month.</p>
      </div>
    </div>
    <div class="col-10 offset-1 col-md-7 offset-md-0 d-flex">
      <%= image_tag "https://res.cloudinary.com/ddwuu1y0i/image/upload/v1572892241/shutterstock_188946887.jpg", class: "img-fluid m-auto"%>
    </div>
  </div>
</div>
